
<h2>
<%= @player_1_name %> vs. <%= @player_2_name %>
</h2>
<h1>FIGHT!</h1>

<br>
<br>

<h3>Player 1  <%= @player_1_name %>: <%= @player_1_hp%>/60 HP</h3>

<form action="/attack2">
  <input type="submit" value="Attack">
</form>

<br>
<br>

<h3>Player 2  <%= @player_2_name %>: <%= @player_2_hp%>/60 HP</h3>
<form action="/attack1">
  <input type="submit" value="Attack">
</form>
